@import "./Utils/variables";  
@import "./Utils/functions";  
@import "./Utils/extensions";
@import "./Utils/mixins";
@import "./Utils/animations.scss"; 

@font-face {
    font-family: 'Freestyle Script Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Freestyle Script Regular'), url('../../fonts/FREESCPT.woff') format('woff');
    }

body {
    font-family: "Freestyle Script Regular";
    margin:0;
    
    Header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        min-height: 260px;
        max-height: 260px;
        padding:0;
        margin:0;
        background-color: $wall;
        background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
        .headerImg {
            width: 100%;
            min-width: 360px;
            max-width: 360px;
            min-height: 190px;
            top : 16px;
            margin:0;
            position: relative;
        }
        H1 {
            position: absolute;
            top : 27px;
            color: $primary;
            text-shadow: 3px 3px 2px black;
            font-size: 90px;
            margin: 0;
            .orange {
                color:$tertiary;
            }
        }
        h2 {
            position: absolute;
            top: 90px;
            color: $primary;
            text-shadow: 3px 3px 2px black;
            font-size: 80px;
            margin: 0;
        }
        .nav {
            display: none;
            .nav-links {
                position: absolute;
                display: block;
                width: 100%;
                flex-wrap: wrap;
                height: 0px;
                transition: all 0.3s ease-in;
                overflow-y: hidden;
                top: 150px;
                left: 0px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                a {
                    text-align: center;
                    margin: 0.5em;
                    cursor: pointer;
                    height: 20px;
                    border: 1px solid red;
                    border-radius: 0.5em;
                    color: $white;
                    padding: 0.5em;
                    cursor: pointer;
                    text-decoration: none;
                    box-shadow: 0px 4px 8px 0px #00000020;
                    &:hover {
                            color:$secondary;
                            transform: scale(1.02);
                    }
                }      
            }
        }
        .nav > #nav-check:not(:checked) ~ .nav-links {
                height: 0px;
        }
        .nav > #nav-check:checked ~ .nav-links {
                height: calc(105px - 50px);
                overflow-y: auto;
        } 
        .navigation {
            padding-bottom: 30px;   
            top: 210px;
            position: absolute;
            .navList {
                margin:0;
                padding:0;
                .boutonContact {
                    padding: 6px 20px;
                    text-decoration: none;
                    font-size: 34px;
                    width: 150px;
                    height: 25px;
                    text-align: center;
                    color: $white;
                }
            }
            .effetNeon {
                text-align: center;
                text-shadow:
                    0 0 7px #fff,
                    0 0 10px #fff,
                    0 0 42px $tertiary,
                    0 0 77px $tertiary,
                    0 0 100px $tertiary;
                animation: lumiere 1s infinite linear;
            }
            @keyframes lumiere {
                0%{
                    text-shadow:
                    0 0 7px #fff,
                    0 0 10px #fff,
                    0 0 22px $tertiary,
                    0 0 47px $tertiary,
                    0 0 70px $tertiary;
                }
               50%{
                    text-shadow:
                    0 0 7px #fff,
                    0 0 10px #fff,
                    0 0 12px $tertiary,
                    0 0 57px $tertiary,
                    0 0 90px $tertiary;
                }
            }
        }
    }
    main {
        background-image: url(../../images/a-bright-window-lite-room-shows-a-home-office.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        .location {
            display:flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            //flex-direction: column-reverse;
            //raw-content: center;
            background-color: $grey;
            background: rgba($grey, 0.5);
            //width: 100%;
            font-weight: bold;
            width: 100%;
            //max-height: 2.3em;
            padding: 0.5em 0;
            border-top: 3px solid $grey;
            .locationIcon, .locationTitle, .Denomination {
                
                margin: 0 0.5em;
                color: $secondary;
                display:flex;
                align-items: center;
                font-size: 30px;
                max-height: 2em;;
            }
        }
        .search {
            display: flex;
            justify-content: space-evenly;
            padding:1em;
            .wrapper {
                display: flex;
                justify-content: space-around;
                min-width: 150px;
                margin:2em 1.5em 1.5em 1.5em;
            }
            .cta {
                display: flex;
                align-items: center;
                padding: 0.5em 0.5em;
                text-decoration: none; 
                font-size: 25px;
                color: white;
                background: $secondary;
                transition: 1s;
                box-shadow: 6px 6px 0 black;
                transform: skewX(-15deg);  
            }
            .cta:focus {
                outline: none; 
            }
            .cta:hover {
                transition: 0.5s;
                box-shadow: 10px 10px 0 $primary;
            }
            .cta span:nth-child(2) {
                transition: 0.5s;
                margin-right: 0px;
            }
            .cta:hover  span:nth-child(2) {
                transition: 0.5s;
                margin-right: 45px;
            }
            span {
                transform: skewX(15deg) 
            }
            span:nth-child(2) {
                width: 20px;
                margin-left: 30px;
                position: relative;
                top: 12%;
            }
                
            /**************SVG****************/
              
            path.one {
                transition: 0.4s;
                transform: translateX(-60%);
            }
            path.two {
                transition: 0.5s;
                transform: translateX(-30%);
            }
            .cta:hover path.three {
                animation: color_anim 1s infinite 0.2s;
            }
            .cta:hover path.one {
                transform: translateX(0%);
                animation: color_anim 1s infinite 0.6s;
            }
            .cta:hover path.two {
                transform: translateX(0%);
                animation: color_anim 1s infinite 0.4s;
            }
              
            /* SVG animations */
              
            @keyframes color_anim {
                0% {
                    fill: white;
                }
                50% {
                    fill: $primary;
                }
                100% {
                    fill: $tertiary;
                }
            }    
        }
        .textWelcome {
            border: 2px solid $grey;
            border-radius: 30px;
            display:flex;
            flex-direction: column;
            align-items: center;
            margin: 2em;
            background-color: #f2f2f2;
            background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
            .text1 {
                font-style: italic;
                font-size: 25px;
                font-weight: bold;
                margin: 1em;
                width: 280px;
                color: #293241;
            }
        }
        .EspaceParticuliers {
            width: 90%;
            border: 2px solid $grey;
            border-radius: 30px;
            margin: 0.7em;
            display:flex;
            .TitleEspaceParticuliers {
                width:30%;
                background-color: $white;
                border-radius: 30px;
                margin:0.5em;
                display : flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                .TitlePartculiers {
                    font-size: 33px;
                    margin: 0.2em;
                }
            }
            .TextEspaceParticuliers {
                width:70%;
                background-color: $grey;
                border-radius: 30px;
                margin:0.5em;
                .TextParticuliers {
                    font-size: 33px;
                    margin: 0.2em;
                }
            }
        }
        .EspaceAutoEntreprises {
            width: 90%;
            border: 2px solid $grey;
            border-radius: 30px;
            margin: 0.7em;
            display:flex;
            .TitleEspaceAutoEntreprises {
                width:30%;
                background-color: $white;
                border-radius: 30px;
                margin:0.5em;
                display : flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                .TitleAutoEntreprises {
                    font-size: 33px;
                    margin: 0.2em;
                }
            }
            .TextEspaceAutoEntreprises {
                width:70%;
                background-color: $grey;
                border-radius: 30px;
                margin:0.5em;
                .TextAutoEntreprises {
                    font-size: 33px;
                    margin: 0.2em;
                }
            }
        }
        .EspaceSiteWeb {
            width: 90%;
            border: 2px solid $grey;
            border-radius: 30px;
            margin: 0.7em;
            display:flex;
            .TitleEspaceSiteWeb {
                width:30%;
                background-color: $white;
                border-radius: 30px;
                margin:0.5em;
                display : flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                .TitleSiteWeb {
                    font-size: 33px;
                    margin: 0.2em;
                }
            }
            .TextEspaceSiteWeb {
                width:70%;
                background-color: $grey;
                border-radius: 30px;
                margin:0.5em;
                .TextSiteWeb {
                    font-size: 33px;
                    margin: 0.2em;
                }
            }
        }
        .EspaceFormations {
            width: 90%;
            border: 2px solid $grey;
            border-radius: 30px;
            margin: 0.7em;
            display:flex;
            .TitleEspaceFormations {
                width:30%;
                background-color: $white;
                border-radius: 30px;
                margin:0.5em;
                display : flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                .TitleFormations {
                    font-size: 33px;
                    margin: 0.2em;
                }
            }
            .TextEspaceFormations {
                width:70%;
                background-color: $grey;
                border-radius: 30px;
                margin:0.5em;
                .TextFormations {
                    font-size: 33px;
                    margin: 0.2em;
                }
            }
        }
    }
    footer {
        .infos {
            width: 100%;
            background-color: #272932;
            background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
            display:flex;
            flex-direction: column;
            align-items: center;
            .droits, .contact, .siret {
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                margin: 0.5em;
                a {
                    text-decoration: none;
                    margin:0 1em;
                    font-size: 30px;
                    /*color: #f2f2f2;
                    text-shadow: 3px 5px 2px #474747, 2px 2px 2px rgba(206,89,55,0);*/
                    color: $white;
            text-shadow: 3px 3px 2px black;
                }
            }
        }
    }
    @media screen and (max-width: 732px) {
        
        header {
            .nav {
                display: block;
                input {
                    display:none;
                }
            }
            .nav > .nav-btn {
                display: inline-block;
                position: absolute;
                right: 0;
                top: 0px;
            }
            .nav > .nav-btn > label {
                display: inline-block;
                width: 25px;
                height: 50px;
                padding: 15px;
            }
            .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
                background-color: rgba(0, 0, 0, 0.3);
            }
            .nav > .nav-btn > label > span {
                display: block;
                width: 25px;
                height: 10px;
                border-top: 3px solid $primary;
            }
            .nav > .nav-links {
                position: absolute;
                display: block;
                width: 100%;
                background-color: $wall;
                background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
                height: 0px;
                transition: all 0.3s ease-in;
                overflow-y: hidden;
                top: 260px;
                left: 0px;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
            }
            .nav > .nav-links > a {
                width: 150px;
                height: 25px;
                text-align: center;
                cursor: pointer;
                border: 0.01px solid $secondary;
                border-radius: 0.4em;
                background:conic-gradient(#d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
								#d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
								#d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
								#d7d7d7, #c3c3c3, #cccccc, #c6c6c6);
                color: $secondary;
                font-size: 27px;
                padding: 0.5em;
                text-decoration: none;
                box-shadow: 0px 4px 8px 0px #00000020;
                &:hover {
                    color:$secondary;
                    transform: scale(1.02);
                }   
            }
            .nav > #nav-check:not(:checked) ~ .nav-links {
                height: 0px;
            }
            .nav > #nav-check:checked ~ .nav-links {
                height: calc(625px - 50px);
                overflow-y: auto;
            }
        }
        main{
            .search {
                display:none; 
            } 
            .EspaceParticuliers {
                flex-direction: column;
                .TitleEspaceParticuliers, .TextEspaceParticuliers {
                    width: 100%;
                }
            }
            .EspaceAutoEntreprises {
                flex-direction: column;
                .TitleEspaceAutoEntreprises, .TextEspaceAutoEntreprises {
                    width: 100%;
                }
            }
            .EspaceSiteWeb {
                flex-direction: column;
                .TitleEspaceSiteWeb, .TextEspaceSiteWeb {
                    width: 100%;
                }
            }
            .EspaceFormations {
                flex-direction: column;
                .TitleEspaceFormations, .TextEspaceFormations {
                    width: 100%;
                }
            }   
        }
    }
}
        
    

