@font-face {
  font-family: "Freestyle Script Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Freestyle Script Regular"), url("../../fonts/FREESCPT.woff") format("woff");
}
body {
  font-family: "Freestyle Script Regular";
  margin: 0;
}
body Header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 220px;
  max-height: 220px;
  padding: 0;
  margin: 0;
  background-image: url(../../images/fond_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
body Header .headerImg {
  width: 100%;
  min-width: 360px;
  max-width: 360px;
  min-height: 190px;
  top: 16px;
  margin: 0;
  position: relative;
}
body Header H1 {
  position: absolute;
  top: 8px;
  color: #ABFF85;
  text-shadow: 3px 3px 2px black;
  font-size: 90px;
  margin: 0;
}
body Header H1 .orange {
  color: #FF925C;
}
body Header h2 {
  position: absolute;
  top: 71px;
  color: #ABFF85;
  text-shadow: 3px 3px 2px black;
  font-size: 80px;
  margin: 0;
}
body Header .nav {
  display: none;
}
body Header .nav .nav-links {
  position: absolute;
  display: block;
  width: 100%;
  flex-wrap: wrap;
  height: 0px;
  transition: all 0.3s ease-in;
  overflow-y: hidden;
  top: 150px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
body Header .nav .nav-links a {
  text-align: center;
  margin: 0.5em;
  cursor: pointer;
  height: 20px;
  border: 1px solid red;
  border-radius: 0.5em;
  color: #FFF;
  padding: 0.5em;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1254901961);
}
body Header .nav .nav-links a:hover {
  color: #2A5A8E;
  transform: scale(1.02);
}
body Header .nav > #nav-check:not(:checked) ~ .nav-links {
  height: 0px;
}
body Header .nav > #nav-check:checked ~ .nav-links {
  height: 55px;
  overflow-y: auto;
}
body Header .navigation {
  padding-bottom: 30px;
  top: 170px;
  position: absolute;
}
body Header .navigation .navList {
  margin: 0;
  padding: 0;
}
body Header .navigation .navList .boutonContact {
  padding: 6px 20px;
  text-decoration: none;
  font-size: 34px;
  width: 150px;
  height: 25px;
  text-align: center;
  color: #FFF;
}
body Header .navigation .effetNeon {
  text-align: center;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 42px #FF925C, 0 0 77px #FF925C, 0 0 100px #FF925C;
  animation: lumiere 1s infinite linear;
}
@keyframes lumiere {
  0% {
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 22px #FF925C, 0 0 47px #FF925C, 0 0 70px #FF925C;
  }
  50% {
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 12px #FF925C, 0 0 57px #FF925C, 0 0 90px #FF925C;
  }
}
body main {
  background-image: url(../../images/chats-en-teletravail-vacances-palmier.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .location {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #F2F2F2;
  background: rgba(242, 242, 242, 0.5);
  font-weight: bold;
  width: 100%;
  padding: 0.5em 0;
  border-top: 3px solid #F2F2F2;
}
body main .location .locationIcon, body main .location .locationTitle, body main .location .Denomination {
  margin: 0 0.5em;
  color: #2A5A8E;
  display: flex;
  align-items: center;
  font-size: 30px;
  max-height: 2em;
}
body main .search {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  /**************SVG****************/
  /* SVG animations */
}
body main .search .wrapper {
  display: flex;
  justify-content: space-around;
  min-width: 150px;
  margin: 2em 1.5em 1.5em 1.5em;
}
body main .search .cta {
  display: flex;
  align-items: center;
  padding: 0.5em 0.5em;
  text-decoration: none;
  font-size: 25px;
  color: white;
  background: #2A5A8E;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
}
body main .search .cta:focus {
  outline: none;
}
body main .search .cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #ABFF85;
}
body main .search .cta span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}
body main .search .cta:hover span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px;
}
body main .search span {
  transform: skewX(15deg);
}
body main .search span:nth-child(2) {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}
body main .search path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}
body main .search path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}
body main .search .cta:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}
body main .search .cta:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}
body main .search .cta:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}
@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: #ABFF85;
  }
  100% {
    fill: #FF925C;
  }
}
body main .textWelcome {
  border: 2px solid #F2F2F2;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
  background-color: #f2f2f2;
}
body main .textWelcome .text1 {
  font-style: italic;
  font-size: 30px;
  font-weight: bold;
  margin: 1em;
  width: 330px;
  color: #14213d;
}
body main .carou {
  height: 450px;
}
body main .carou .container {
  position: relative;
  width: 320px;
  margin: 50px auto 0 auto;
  perspective: 1000px;
}
body main .carou .container .carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate360 60s infinite forwards linear;
}
body main .carou .container .carousel .carousel__face {
  position: absolute;
  width: 300px;
  height: 187px;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  display: flex;
}
body main .carou .container .carousel .carousel__face span {
  margin: auto;
  font-size: 2rem;
}
body main .carou .container .carousel .carousel__face:nth-child(1) {
  background-image: url(../../images/formateur.jpg);
  transform: rotateY(0deg) translateZ(430px);
}
body main .carou .container .carousel .carousel__face:nth-child(2) {
  background-image: url("https://images.pexels.com/photos/1258865/pexels-photo-1258865.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(40deg) translateZ(430px);
}
body main .carou .container .carousel .carousel__face:nth-child(3) {
  background-image: url("https://images.pexels.com/photos/808466/pexels-photo-808466.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(80deg) translateZ(430px);
}
body main .carou .container .carousel .carousel__face:nth-child(4) {
  background-image: url("https://images.pexels.com/photos/1394841/pexels-photo-1394841.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(120deg) translateZ(430px);
}
body main .carou .container .carousel .carousel__face:nth-child(5) {
  background-image: url("https://images.pexels.com/photos/969679/pexels-photo-969679.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(160deg) translateZ(430px);
}
body main .carou .container .carousel .carousel__face:nth-child(6) {
  background-image: url("https://images.pexels.com/photos/1834400/pexels-photo-1834400.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(200deg) translateZ(430px);
}
body main .carou .container .carousel .carousel__face:nth-child(7) {
  background-image: url("https://images.pexels.com/photos/1415268/pexels-photo-1415268.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(240deg) translateZ(430px);
}
body main .carou .container .carousel .carousel__face:nth-child(8) {
  background-image: url("https://images.pexels.com/photos/135018/pexels-photo-135018.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(280deg) translateZ(430px);
}
body main .carou .container .carousel .carousel__face:nth-child(9) {
  background-image: url("https://images.pexels.com/photos/1175135/pexels-photo-1175135.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(320deg) translateZ(430px);
}
@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}
body main .blockDescription {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
body main .blockDescription .EspaceParticuliers {
  width: 350px;
  border: 2px solid #F2F2F2;
  border-radius: 30px;
  margin: 0.7em;
  display: flex;
  flex-direction: column;
}
body main .blockDescription .EspaceParticuliers .TitleEspaceParticuliers {
  width: 90%;
  background: conic-gradient(#d7d7d7, #c3c3c3, #cccccc, #c6c6c6, #d7d7d7, #c3c3c3, #cccccc, #c6c6c6, #d7d7d7, #c3c3c3, #cccccc, #c6c6c6, #d7d7d7, #c3c3c3, #cccccc, #c6c6c6);
  border-radius: 30px;
  margin: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
body main .blockDescription .EspaceParticuliers .TitleEspaceParticuliers .TitlePartculiers {
  font-size: 33px;
  margin: 0.2em;
}
body main .blockDescription .EspaceParticuliers .TextEspaceParticuliers {
  width: 90%;
  background-color: #d6c3b2;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
  border-radius: 30px;
  margin: 0.5em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body main .blockDescription .EspaceParticuliers .TextEspaceParticuliers .TextParticuliers {
  font-size: 33px;
  margin: 0.7em;
}
body main .blockDescription .EspaceAutoEntreprises {
  width: 350px;
  border: 2px solid #F2F2F2;
  border-radius: 30px;
  margin: 0.7em;
  display: flex;
  flex-direction: column;
}
body main .blockDescription .EspaceAutoEntreprises .TitleEspaceAutoEntreprises {
  width: 90%;
  background: conic-gradient(#d95641, #b14439, #b2453a, #d25645, #d95641, #b14439, #b2453a, #d25645, #d95641, #b14439, #b2453a, #d25645, #d95641, #b14439, #b2453a, #d25645);
  border-radius: 30px;
  margin: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
body main .blockDescription .EspaceAutoEntreprises .TitleEspaceAutoEntreprises .TitleAutoEntreprises {
  font-size: 33px;
  margin: 0.2em;
}
body main .blockDescription .EspaceAutoEntreprises .TextEspaceAutoEntreprises {
  width: 90%;
  background-color: #d6c3b2;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
  border-radius: 30px;
  margin: 0.5em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body main .blockDescription .EspaceAutoEntreprises .TextEspaceAutoEntreprises .TextAutoEntreprises {
  font-size: 33px;
  margin: 0.7em;
}
body main .blockDescription .EspaceSiteWeb {
  width: 350px;
  border: 2px solid #F2F2F2;
  border-radius: 30px;
  margin: 0.7em;
  display: flex;
  flex-direction: column;
}
body main .blockDescription .EspaceSiteWeb .TitleEspaceSiteWeb {
  width: 90%;
  background: conic-gradient(#edc800, #e3b600, #f3cf00, #ffe800, #edc800, #e3b600, #f3cf00, #ffe800, #edc800, #e3b600, #f3cf00, #ffe800, #edc800, #e3b600, #f3cf00, #ffe800);
  border-radius: 30px;
  margin: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
body main .blockDescription .EspaceSiteWeb .TitleEspaceSiteWeb .TitleSiteWeb {
  font-size: 33px;
  margin: 0.2em;
}
body main .blockDescription .EspaceSiteWeb .TextEspaceSiteWeb {
  width: 90%;
  background-color: #d6c3b2;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
  border-radius: 30px;
  margin: 0.5em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body main .blockDescription .EspaceSiteWeb .TextEspaceSiteWeb .TextSiteWeb {
  font-size: 33px;
  margin: 0.7em;
}
body main .blockDescription .EspaceFormations {
  width: 350px;
  border: 2px solid #F2F2F2;
  border-radius: 30px;
  margin: 0.7em;
  display: flex;
  flex-direction: column;
}
body main .blockDescription .EspaceFormations .TitleEspaceFormations {
  width: 90%;
  background: conic-gradient(#e6e9bf, #d2b5aa, #cbaea3, #d4b5ab, #e6e9bf, #d2b5aa, #cbaea3, #d4b5ab, #e6e9bf, #d2b5aa, #cbaea3, #d4b5ab, #e6e9bf, #d2b5aa, #cbaea3, #d4b5ab);
  border-radius: 30px;
  margin: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
body main .blockDescription .EspaceFormations .TitleEspaceFormations .TitleFormations {
  font-size: 33px;
  margin: 0.2em;
}
body main .blockDescription .EspaceFormations .TextEspaceFormations {
  width: 90%;
  background-color: #d6c3b2;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
  border-radius: 30px;
  margin: 0.5em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body main .blockDescription .EspaceFormations .TextEspaceFormations .TextFormations {
  font-size: 33px;
  margin: 0.7em;
}
body footer .infos {
  width: 100%;
  background-color: #272932;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}
body footer .infos .droits, body footer .infos .contact, body footer .infos .siret {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0.5em;
}
body footer .infos .droits a, body footer .infos .contact a, body footer .infos .siret a {
  text-decoration: none;
  margin: 0 1em;
  font-size: 30px;
  /*color: #f2f2f2;
  text-shadow: 3px 5px 2px #474747, 2px 2px 2px rgba(206,89,55,0);*/
  color: #FFF;
  text-shadow: 3px 3px 2px black;
}
@media screen and (max-width: 732px) {
  body header .nav {
    display: block;
  }
  body header .nav input {
    display: none;
  }
  body header .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0px;
  }
  body header .nav > .nav-btn > label {
    display: inline-block;
    width: 25px;
    height: 50px;
    padding: 15px;
  }
  body header .nav > .nav-btn > label:hover, body header .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  body header .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 3px solid #ABFF85;
  }
  body header .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgb(230, 230, 251);
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 260px;
    left: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  body header .nav > .nav-links > a {
    width: 150px;
    height: 25px;
    text-align: center;
    cursor: pointer;
    border: 0.01px solid #2A5A8E;
    border-radius: 0.4em;
    background: conic-gradient(#d7d7d7, #c3c3c3, #cccccc, #c6c6c6, #d7d7d7, #c3c3c3, #cccccc, #c6c6c6, #d7d7d7, #c3c3c3, #cccccc, #c6c6c6, #d7d7d7, #c3c3c3, #cccccc, #c6c6c6);
    color: #2A5A8E;
    font-size: 27px;
    padding: 0.5em;
    text-decoration: none;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1254901961);
  }
  body header .nav > .nav-links > a:hover {
    color: #2A5A8E;
    transform: scale(1.02);
  }
  body header .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  body header .nav > #nav-check:checked ~ .nav-links {
    height: 575px;
    overflow-y: auto;
  }
  body main .search {
    display: none;
  }
  body main .carou {
    display: none;
  }
  body main .EspaceParticuliers {
    flex-direction: column;
  }
  body main .EspaceParticuliers .TitleEspaceParticuliers, body main .EspaceParticuliers .TextEspaceParticuliers {
    width: 100%;
  }
  body main .EspaceAutoEntreprises {
    flex-direction: column;
  }
  body main .EspaceAutoEntreprises .TitleEspaceAutoEntreprises, body main .EspaceAutoEntreprises .TextEspaceAutoEntreprises {
    width: 100%;
  }
  body main .EspaceSiteWeb {
    flex-direction: column;
  }
  body main .EspaceSiteWeb .TitleEspaceSiteWeb, body main .EspaceSiteWeb .TextEspaceSiteWeb {
    width: 100%;
  }
  body main .EspaceFormations {
    flex-direction: column;
  }
  body main .EspaceFormations .TitleEspaceFormations, body main .EspaceFormations .TextEspaceFormations {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */